{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}



<br>
<div class="row justify-content-center">	
	<div class="col-md-5">
	
			<div class="card border-info bg-light mb-3 card-body">
				<div class="card text-white bg-info mb-3 card-body mb-4">
						<h3 class="text-center">Session</h3>
					</div>
				
				<form method="POST" action="">
					{% csrf_token %}

					{{form.as_p}}
					
					<!-- <div style="margin-bottom: 15px;">
						Match: &nbsp;{{form.match}}
					</div>
					<div style="margin-bottom: 15px;">
						Name: &nbsp;{{form.name}}
					</div>
					<div style="margin-bottom: 15px;">
						Session Date: &nbsp; {{form.setup_date}} 
					</div>
					<div style="margin-bottom: 15px;">
						Location: &nbsp; {{form.location}}
					</div> -->

					
					<input class="btn btn-primary" type="submit" name="create_session">
				</form>
				
			</div>
	</div>
</div>




{% endblock %}

